{{/* Tag filter bar: show all tags and highlight current */}}
{{- $currentTag := "" }}
{{- if eq .Kind "term" }}
  {{- $currentTag = .Title }}
{{- end }}
{{- $tags := slice }}
{{ with site.Taxonomies.tags }}
  {{ range . }}
    {{- $tags = $tags | append .Page.Title -}}
  {{ end }}
{{ end }}
<div class="filter-bar">
  {{ range $tags }}
    {{- if eq . $currentTag -}}
      <button class="filter-button active" data-tag="{{ . }}">
        <i class="ri-hashtag icon"></i>{{ . }}
      </button>
    {{- else -}}
      <a class="filter-button" href="{{ printf "/tags/%s/" (urlize .) | relURL }}" data-tag="{{ . }}">
        <i class="ri-hashtag icon"></i>{{ . }}
      </a>
    {{- end -}}
  {{ end }}
</div>