{{/* Tag filter bar */}}
{{ $all := slice "全部" }}
{{ $tags := $all }}
{{ with site.Taxonomies.tags }}
  {{ range . }}
    {{ $tags = $tags | append .Page.Title }}
  {{ end }}
{{ end }}
<div class="filter-bar">
  {{ range $i, $t := $tags }}
    {{ if eq $i 0 }}
      <button class="filter-button active" data-tag="{{ $t }}">
        <i class="ri-compass-3-line icon"></i>{{ $t }}
      </button>
    {{ else }}
      <a class="filter-button" href="{{ printf "/tags/%s/" (urlize $t) | relURL }}" data-tag="{{ $t }}">
        <i class="ri-hashtag icon"></i>{{ $t }}
      </a>
    {{ end }}
  {{ end }}
</div>